
body{
  font-family: "Veranda", sans-serif;
  text-align: center;
  background-color: black
}

.cta{
  color: Aquamarine;
  font-size: 16pt;
}
title{
  font-family: "Veranda", sans-serif;
  font-weight: normal
  font-size: 50pt
  color: white
  text-align:center;
}
p{
  text-align: center;
}
